configuration {
  modes: [window,drun,run,ssh,recursivebrowser];
  recursivebrowser {
    directory: "/";
    filter-regex: "^(proc|temp)(/|$)";
  }
  kb-accept-entry: "Control+m,Return,KP_Enter,Control+l";
  kb-remove-to-eol: "";
  kb-element-prev: "";
  kb-element-next: "";
  kb-mode-complete: "Tab,ISO_Left_Tab";
  kb-row-down: "Control+j,Control+n";
  kb-row-up: "Control+k,Control+p";
}

// @theme "~/.config/rofi/themes/gruvbox-dark-hard.rasi"
@theme "~/.config/rofi/themes/material.rasi"
