@define-color foreground #eeeeee;
@define-color foreground-inactive #aaaaaa;
@define-color background #000000;

* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 17px;
    padding: 0;
    margin: 0;
}

#waybar {
    color: @foreground;
    background-color: @background;
}

#workspaces {
    padding-right: 0.3em;
}

#workspaces button {
    color: @foreground-inactive;
    padding-left: 0.7em;
}

#workspaces button.active {
    color: @foreground;
}

#memory,
#cpu,
#temperature {
    padding-left: 1em
}

#memory {
    padding-left: 2em
}

#wireplumber,
#battery,
#backlight,
#language,
#network,
#pulseaudio,
#bluetooth,
#tray {
    padding-right: 1em 
}

#battery.warning {
    color: #ece81a
}

#battery.critical {
    color: #ff0000
}

#memory.warning {
    color: #ece81a
}

#memory.critical {
    color: #ff0000
}

#wireplumber.muted {
    color: #ff0000
}
